
<div class="singup second ">

    <img class="flexible_image_logo" src="source/image/logo.png">

    <h1>Sharing great buys in your area</h1>
    <input class="input_login" id="username" placeholder="User Name">
    <input class="input_login" id="email" placeholder="Email Address">
    <input class="input_login" type="password" id="pass" placeholder="Password">
    <input class="input_login" placeholder="Confirm Password">
    <button class="button_accept" id="accept">Accept</button>
    <div id="dialog" title="Pop Up">

    </div>

</div>
